{% extends "base.html" %}
{% block body %}
{% if not userprofile.is_core %}
<style>
    textarea{
        height:27px;
        margin-bottom:1px;    
        }
    input{
        width:80px;
    }
</style>
<div class="pull-right">
<a href="/portal/finance/advance/"><button class="btn">Back</button></a>
</div>
</br>
<h4>Advance Request</h4>
<table class="table table-bordered">
<tr>
<th>Applied Date</th>
<th>Amount</th>
<th>split_up</th>
<th>Approve Status</th>
<th>Approved_date</th>
<th>Recieved Status</th>
<th>Received Date</th>
<th>Due Date</th>
<th><i class="icon-comment" > </i> core comments</th>
</tr>

<tr>
<td>{{advance_application.applied_date|date:'d M Y'}}</td>
<td>{{advance_application.amount}}</td>
<td>{{advance_application.split_up}}</td>
{% if advance_application.approved %}
<td><span class="label label-success">Approved</span></td>
<td>{{advance_application.approved_date|date:'d M Y'}}</td>
{% else %}
{% if advance_application.disapproved %}
<td>Disapproved</td>
<td></td>
{% else %}
<td>Awaiting</td>
<td></td>
{% endif %}
{% endif %}

{% if advance_application.received %}
<td><span class="label label-success">Received</span></td>
<td>{{advance_application.receive_date|date:'d M Y'}}</td>
<td>{{advance_application.due_date|date:'d M Y'}}</td>
{% else %}
<td>Not received</td>
<td></td>
<td></td>
{% endif %}
<td>{{advance_application.core_comment}}</td> 
</tr> 
   
</table>

<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Note:</strong> Add the Bill details and then Save them. Only then the option to add that bill's Purchase Details will be enabled
</div>

<form method='POST' action=''>
{% csrf_token %}


{{billformset.management_form}}
<table class="table table-bordered table-condensed">
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Amount</th>
<th>Dated</th>
<th>Date</th>
<th></th>
<th>Delete</th>
<th>Purchase Details</th>
</tr>

{% for bill in billformset %}

    <tr>
    {% for field in bill %}
    <td>{{field}}</td>
    {% endfor %}
    {% if bill.instance.id %}
    <td><input name="{{bill.instance.id}}" type="submit"  value="&#9755"/></td>
    {% else %}
    <td></td>
    {% endif %}
    </tr>

<!--
<table class="table table-bordered">
<tr>
<th>Item Name</th>
<th>Amount</th>
</tr>
{% for item in purchasedetailformset %}
{% ifequal item.bill bill %}
<tr>
{% for field in item %}
<td>{{field}}</td>
{% endfor %}
</tr>
{% endifequal %}
{% endfor %}
</table>
-->
{% endfor %}
</table>
<!--
{% for bill in billformset %}
{% if bill.instance.id %}
<div id="{{bill.instance.id}}" class="modal hide " aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Purchase Details</h3>
  </div>
  <div class="modal-body">
<table class="table table-bordered">
<tr>
<th>Item Name</th>
<th>Amount</th>
<th></th>
<th>Delete?</th>
</tr>
{% for item in purchasedetailformset %}
{% ifequal item.instance.bill.id bill.instance.id %}
<tr>
{% for field in item %}
<td>{{field}}</td>
{% endfor %}
</tr>
{% endifequal %}
{% endfor %}
</table>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input class="btn" name="add_more1 {{bill.instance.id }}" type="submit" value="Add more" />
    <input class="btn btn-info"  name="{{bill.instance.id}}" type="submit"  value="Save"/>
  </div>
</div>
{% endif %}
{% endfor %}
-->

<input type="submit" class="btn" name="add_more" value="Add more bills">
<center><input type='submit' class="btn btn-info " value='Save' /></center>

</form>



{% endif %}<!-- end of user -->

{% if userprofile.is_core %}
<div class="pull-right">
<a href="/portal/finance/advance/approved"><button class="btn">Back</button></a>
</div>

<h3>{{advance_application.project.name}}</h3>
</br>
<table class="table table-bordered">
<tr>

<th>Applied Date</th>
<th>Amount</th>
<th>split_up</th>
<th>Approve Status</th>
<th>Approved_date</th>
<th>Recieved Status</th>
<th>Received Date</th>
<th>Due Date</th>
<th><i class="icon-comment" > </i> core comments</th>
<th>Bills submitted?</th>
</tr>

<tr>
<td>{{advance_application.applied_date|date:'d M Y'}}</td>
<td>{{advance_application.amount}}</td>
<td>{{advance_application.split_up}}</td>
{% if advance_application.approved %}
<td>Approved</td>
<td>{{advance_application.approved_date|date:'d M Y'}}</td>
{% else %}
{% if advance_application.disapproved %}
<td>Disapproved</td>
<td></td>
{% else %}
<td>Awaiting</td>
<td></td>
{% endif %}
{% endif %}

{% if advance_application.received %}
<td>Received</td>
<td>{{advance_application.receive_date|date:'d M Y'}}</td>
<td>{{advance_application.due_date|date:'d M Y'}}</td>
{% else %}
<td>Not received</td>
<td></td>
<td></td>
{% endif %}
<td>{{advance_application.core_comment}}</td>
<td>{{advance_application.bill_submitted}}</td> 
</tr> 
   
</table>
</br>
<table class="table table-bordered">
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Purchase Details</th>
<th>Amount</th>
<th>Dated?</th>
<th>Date</th>
<th>Submitted?</th>
</tr>
{% for bill in qset %}
<tr>
<td>{{bill.shop_name}}</td>
<td>{{bill.bill_number}}</td>
<td><a href="#{{bill.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up" ></i></a></td>
<td>{{bill.amount}}</td>
{% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
<td>{{bill.date|date:'d M Y'}}</td>
<td>{{bill.core_submitted}}</td>
</tr>
{% endfor %}

</table>

{% for bill in qset %}
<!-- Modal -->
<div id="{{bill.id}}" class="modal hide " tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Bill Detail</h3>
  </div>
  <div class="modal-body">
  <table class="table table-bordered">
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Amount</th>
<th>Dated?</th>
<th>Date</th>
{% if userprofile.is_core %}
<th>Submitted?</th>
{% endif %}
</tr>
<tr>
<td>{{bill.shop_name}}</td>
<td>{{bill.bill_number}}</td>
<td>{{bill.amount}}</td>
{% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}

<td>{{bill.date|date:'d M Y'}}</td>
{% if userprofile.is_core %}
<td>{{bill.core_submitted}}</td>
{% endif %}
</tr>
</table>

    <h4>Purchase Details</h4>
        <table class="table table-bordered">
        <tr>
        <th>Item Name</th>
        <th>Amount</th>
        </tr>
    {% for purchase_detail in purchase_details %}
    {% ifequal purchase_detail.bill bill %}
        
        <tr>
        <td>{{purchase_detail.item_name}}</td>
        <td>{{purchase_detail.amount}}</td>
        </tr>
        
    {% endifequal %}
    {% endfor %}
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endfor %}


{% endif %}

{% endblock %}
