{% extends "base.html" %}
hello
{% block body %}
<div class="pull-right">
<a href="/advance/"><button class="btn">Back</button></a>
</div>

<table class="table table-bordered">
<thead>
<tr>
<th>Applied Date</th>
<th>Amount</th>
<th>split_up</th>
<th>Approve Status</th>
<th>Approved_date</th>
<th>Recieved Status</th>
<th>Received Date</th>
<th>Due Date</th>
<th>core comments</th>
<th>Bills submitted?</th>
</tr>
</thead>
<tbody>
<tr>
<td>{{advance_application.applied_date|date:'d M Y'}}</td>
<td>{{advance_application.amount}}</td>
<td>{{advance_application.split_up}}</td>
{% if advance_application.approved %}
<td>Approved</td>
<td>{{advance_application.approved_date|date:'d M Y'}}</td>
{% else %}
{% if advance_application.disapproved%}
<td>Disapproved</td>
<td></td>
{% else %}
<td>Awaiting</td>
<td></td>
{% endif %}
{% endif %}

{% if advance_application.received %}
<td>Received</td>
<td>{{advance_application.receive_date|date:'d M Y'}}</td>
<td>{{advance_application.due_date|date:'d M Y'}}</td>
{% else %}
<td>Not received</td>
<td></td>
<td></td>
{% endif %}
<td>{{advance_application.core_comment}}</td>
<td>{{advance_application.bill_submitted}}</td> 
</tr> 
</tbody>   
</table>
</br>
<table class="table table-bordered">
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Purchase Details</th>
<th>Amount</th>
<th>Dated</th>
<th>Date</th>
{% if userprofile.is_core %}
<th>Submitted?</th>
{% endif %}
</tr>
{% for bill in qset %}
<tr>
<td>{{bill.shop_name}}</td>
<td>{{bill.bill_number}}</td>
<td><a href="#{{bill.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up" ></i></a></td>
<td>{{bill.amount}}</td>
<td>{{bill.dated}}</td>
<td>{{bill.date}}</td>
{% if userprofile.is_core %}
<td>{{bill.core_submitted}}</td>
{% endif %}
</tr>
{% endfor %}

</table>

 {% for bill in qset %}
<!-- Modal -->
<div id="{{bill.id}}" class="modal hide " tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Bill Detail</h3>
  </div>
  <div class="modal-body">
  <table class="table table-bordered">
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Amount</th>
<th>Dated</th>
<th>Date</th>
{% if userprofile.is_core %}
<th>Submitted?</th>
{% endif %}
</tr>
<tr>
<td>{{bill.shop_name}}</td>
<td>{{bill.bill_number}}</td>
<td>{{bill.amount}}</td>
<td>{{bill.dated}}</td>
<td>{{bill.date}}</td>
{% if userprofile.is_core %}
<td>{{bill.core_submitted}}</td>
{% endif %}
</tr>
</table>

    <h4>Purchase Details</h4>
        <table class="table table-bordered">
        <tr>
        <th>Item Name</th>
        <th>Amount</th>
        </tr>
    {% for purchase_detail in purchase_details %}
    {% ifequal purchase_detail.bill bill %}
        
        <tr>
        <td>{{purchase_detail.item_name}}</td>
        <td>{{purchase_detail.amount}}</td>
        </tr>
        
    {% endifequal %}
    {% endfor %}
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endfor %}
{% endblock %}
