{% extends "base.html" %}
{% block body %}
{% if userprofile.is_core %}
<br>
<style>
    textarea{
        height:27px;
        margin-bottom:1px;    
        }
    input{
        width:65px;
    }
</style>
{% if advance_approved_form_error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error</strong> Invalid Input
</div>
{% endif %}

{% if advance_approved_form_success %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success</strong> Project detail has been successfully updated
</div>
{% endif %}

<div class="tabbable tabs-left">
<ul class="nav nav-tabs">
<li class="active"><a href="#not_yet_submitted" data-toggle="tab">Bills Not Yet Submitted</a></li>
<li><a href="#submitted" data-toggle="tab">Bills Submitted</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="not_yet_submitted">
<form method='POST' action=''>
{% csrf_token %}

{{approved_core_formset.management_form}}
    <table class="table table-bordered table-condensed">
    <thead>
    <tr>
    <th>Project</th>
    <th>Applied Date</th>
    <th>Amount</th>
    <th>Split Up</th>
    <th>Approved Date</th>
    <th>Received</th>
    <th>Received Date <h6>(yyyy-mm-dd)</h6></th>
    <th>Due Date<h6>(yyyy-mm-dd)</h6></th>
    <th>Comments</th>
    <th>Bills Submitted?</th>
    <th>Bills</th>
    </tr>
    </thead>
    <tbody>
    {% for app in approved_not_submitted %}
    <tr>
    <td>{{app.project.name}}</td>
    {% for form in approved_core_formset %}

        {% ifequal form.instance.id app.id %}
        <td>{{app.applied_date|date:'d M Y'}}</td>
        <td>{{app.amount}}</td>
        <td>{{app.split_up}}</td>
        <td>{{app.approved_date|date:'d M Y'}}</td>
        {% for field in form %}
        {% if not forloop.last %}
        <td>{{field}}</td>
        {% else %}
        {{field}}
        {% endif %}
        {% endfor %}
        {% if app.approved and app.received %}
<td><a href="{% url finance.views.advance_bill advance_id=app.id %}">View bills</a></td>
{% else %}
<td></td>
{% endif %}

        {% endifequal %}
    
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
<center><input class="btn btn-info" type='submit' value='Save' /></center>
</form>

</div><!-- notyetsub -->
<div class="tab-pane" id="submitted">
<table class="table table-bordered ">
<thead>
<tr>
<th>Project</th>
<th>Applied Date</th>
<th>Amount</th>
<th>split_up</th>
<th>Approved Date</th>
<th>Received Date</th>
<th>Due Date</th>
<th>core comments</th>
<th>Bills</th>
</tr>
</thead>
<tbody>
{% for advance in approved_submitted %}
<tr>
<td>{{advance.project.name}}</td>
<td>{{advance.applied_date|date:'d M Y'}}</td>
<td>{{advance.amount}}</td>
<td>{{advance.split_up}}</td>
<td>{{advance.approved_date|date:'d M Y'}}</td>
<td>{{advance.receive_date|date:'d M Y'}}</td>
<td>{{advance.due_date|date:'d M Y'}}</td>
<td>{{advance.core_comment}}</td> 
<td><a href="{% url finance.views.advance_bill advance_id=advance.id %}">View bills</a></td>
</tr> 
{% endfor %}   
</tbody>
</table>


</div><!-- submitted -->
</div><!-- content-->
</div><!-- tabbable-->
{% endif %}<!-- end of core-->
{% endblock %}
