{% extends "base.html" %}
{% block body %}
{% if not userprofile.is_core %}
<br>
<style>
.advance_form{

}
</style>
{% if advanceform_error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error Sending Request!</strong> Invalid Input
</div>
{% endif %}

{% if advanceform_success %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success</strong> Your Advance Request has been successfully sent.
</div>
{% endif %}
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#request" data-toggle="tab">Request</a></li>
        <li><a href="#awaiting_approval" data-toggle="tab">Awaiting Approval (<b>{{number_await_approval}}</b>)</a></li>
        <li><a href="#approved_not_received" data-toggle="tab">Approved, Not Received(<b>{{number_approved_not_rec}}</b>)</a></li>
        <li><a href="#received_add_bills" data-toggle="tab">Received, Add Bills(<b>{{number_rec_add_bills}}</b>)</a></li>
        <li><a href="#disapproved" data-toggle="tab">Disapproved(<b>{{number_disapproved_unread}}</b>)</a></li>
        <li><a href="#history" data-toggle="tab">History</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="request">


            <form method='POST' action=''>
                {% csrf_token %}
                <fieldset>
                    <center>
                       <!-- <legend>Request an Advance</legend>-->
                       <div class="advance_form">
                        {% for field in advanceform %}
                        <label><strong>{{field.label}}</strong></label>
                        {{field}}
                        {% endfor %}<br>
                        <input type='submit' value="Send Request" class="btn btn-info" />
                        </div>
                    </center>
                </fieldset>
            </form>

        </div>

        <div class="tab-pane" id="awaiting_approval">
            {% if advance_applications_awaiting_approval %}
            <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Applied Date</th>
                    <th>Amount</th>
                    <th>Split Up</th>
                </tr>
            </thead>
            <tbody>
                {% for advance_application in advance_applications_awaiting_approval %}
                <tr>
                    <td>{{advance_application.applied_date|date:'d M Y'}}</td>
                    <td>{{advance_application.amount}}</td>
                    <td><a href="#{{advance_application.id}}" role="button" class="btn " data-toggle="modal"><i class="icon-hand-up" ></i></a></td>
                 </tr>
                {% endfor %}
            </tbody>
            </table>
            {% else %}
            <h3> <center>You have no pending approvals. </center> </h3>
            {% endif %}
            
            
<!-- Modal -->
{% for advance_application in advance_applications_awaiting_approval %}
<div id="{{advance_application.id}}" class="modal hide  " tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Advance</h3>
  </div>
  <div class="modal-body">
  <table class=" table table-bordered">
  <tr>
  <th>Applied Date</th>
  <th>Amount</th>
  </tr>
  <tr>
  <td>{{advance_application.applied_date|date:'d M Y'}}</td>
  <td>{{advance_application.amount}}</td>
  </table>
  <h4>Split Up</h4>
    {{advance_application.split_up|linebreaks}}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 
  </div>
</div>
{% endfor %}
            
        </div><!-- awaitapproval -->


        <div class="tab-pane" id="approved_not_received">
            {% if approved_not_rec %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Applied Date</th>
                    <th>Amount</th>
                    <th>Split Up</th>
                    <th>Approved date</th>
                    <th><i class="icon-comment" > </i> Core comments</th>
                </tr>
                </thead>
                <tbody>
                {% for advance_application in approved_not_rec %}
                <tr>
                    <td>{{advance_application.applied_date|date:'d M Y'}}</td>
                    <td>{{advance_application.amount}}</td>
                    <td><a href="#anr{{advance_application.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up" ></i></a></td>
                    <td>{{advance_application.approved_date|date:'d M Y'}}</td>
                    <td>{{advance_application.core_comment}}</td>
                </tr>
                {% endfor %}
             </tbody>
            </table>
            {% else %}
            <center><h3>You don't have any advances approved, or you have received amounts for all approved advances.</h3></center>
            {% endif %}
            
          <!-- Modal -->
{% for advance_application in approved_not_rec %}
<div id="anr{{advance_application.id}}" class="modal hide " tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Advance</h3>
  </div>
  <div class="modal-body">
  <table class=" table table-bordered">
  <tr>
  <th>Applied Date</th>
  <th>Amount</th>
  <th>Approved date</th>
 <th><i class="icon-comment" > </i> Core comments</th>
  </tr>
  <tr>
  <td>{{advance_application.applied_date|date:'d M Y'}}</td>
  <td>{{advance_application.amount}}</td>
  <td>{{advance_application.approved_date|date:'d M Y'}}</td>
  <td>{{advance_application.core_comment}}</td>
  </table>
  <h4>Split Up</h4>
    {{advance_application.split_up|linebreaks}}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 
  </div>
</div>
{% endfor %}
              
            
        </div><!-- approved_not_rec -->

        <div class="tab-pane" id="received_add_bills" >
            {% if rec_add_bills %}
            <table class='table table-bordered'>
            <thead>
                <tr>
                    <th>Applied Date</th>
                    <th>Amount</th>
                    <th>Split_up</th>
                    <th>Approved_date</th>
                    <th>Received Date</th>
                    <th>Due Date</th>
                    <th><i class="icon-comment" > </i> Core Comments</th>
                    <th>Bills</th>
                </tr>
            </thead>
            <tbody>
                {% for advance_application in rec_add_bills %}
                <tr>
                    <td>{{advance_application.applied_date|date:'d M Y'}}</td>
                    <td>{{advance_application.amount}}</td>
                    <td><a href="#rab{{advance_application.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up" ></i></a></td>
                    <td>{{advance_application.approved_date|date:'d M Y'}}</td>
                    <td>{{advance_application.receive_date|date:'d M Y'}}</td>
                    <td>{{advance_application.due_date|date:'d M Y'}}</td>
                    <td>{{advance_application.core_comment}}</td>
                    {% if advance_application.approved and advance_application.received %}
                    <td><a href="{% url finance.views.advance_bill advance_id=advance_application.id %}">Add bills</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            </table>
            {% else %}
            <center><h3>You have not received any new bills yet.</h3></center>
            {% endif %}
            
                      <!-- Modal -->
{% for advance_application in rec_add_bills %}
<div id="rab{{advance_application.id}}" class="modal hide " tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Advance</h3>
  </div>
  <div class="modal-body">
  <table class=" table table-bordered">
  <tr>
  <th>Applied Date</th>
  <th>Amount</th>
  <th>Approved date</th>
  <th>Received Date</th>
 <th>Due Date</th>
 <th><i class="icon-comment" > </i> Core comments</th>
 <th>Bills</th>
  </tr>
  <tr>
  <td>{{advance_application.applied_date|date:'d M Y'}}</td>
  <td>{{advance_application.amount}}</td>
  <td>{{advance_application.approved_date|date:'d M Y'}}</td>
  <td>{{advance_application.receive_date|date:'d M Y'}}</td>
  <td>{{advance_application.due_date|date:'d M Y'}}</td>
  <td>{{advance_application.core_comment}}</td>
  {% if advance_application.approved and advance_application.received %}
  <td><a href="{% url finance.views.advance_bill advance_id=advance_application.id %}">Add bills</a></td>
  {% endif %}
  </table>
  <h4>Split Up</h4>
    {{advance_application.split_up|linebreaks}}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 
  </div>
</div>
{% endfor %}
            
        </div><!-- rec_add_bills-->

        <div class="tab-pane" id="disapproved">
           
            {% if disapproved_unread %}
            <center><h3>Unread</h3></center></br>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Applied Date</th>
                    <th>Amount</th>
                    <th>Split up</th>
                    <th><i class="icon-comment" > </i> Core Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for advance_application in disapproved_unread %}
                <tr>
                    <td>{{advance_application.applied_date|date:'d M Y'}}</td>
                    <td>{{advance_application.amount}}</td>
                    <td><a href="#da{{advance_application.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up" ></i></a></td>
                    <td>{{advance_application.core_comment}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            {% else %}
            <h3>No new unread disapprovals.</h3>
            {% endif %}
            
                      
<!-- Modal -->
{% for advance_application in disapproved_unread %}
<div id="da{{advance_application.id}}" class="modal hide " tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Advance</h3>
  </div>
  <div class="modal-body">
  <table class=" table table-bordered">
  <tr>
  <th>Applied Date</th>
  <th>Amount</th>
  <th>Core Comments</th>
  </tr>
  <tr>
  <td>{{advance_application.applied_date|date:'d M Y'}}</td>
  <td>{{advance_application.amount}}</td>
  <td>{{advance_application.core_comment}}</td>
  </table>
  <h4>Split Up</h4>
    {{advance_application.split_up|linebreaks}}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 
  </div>
</div>
{% endfor %}
            
  
            <div class="pull-right">
             <form method="POST" action=''>{% csrf_token %}<input type="submit" value="Mark All as read" class="btn btn-info" name="read"></form>
             </div>
        </div>
        
        
        <div id="history" class="tab-pane">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Applied Date</th>
                    <th>Amount</th>
                    <th>Split Up</th>
                    <th>Approval Status</th>
                    <th>Approved_date</th>
                    <th>Recieved Status</th>
                    <th>Received Date</th>
                    <th>Due Date</th>
                    <th><i class="icon-comment" > </i> Core Comments</th>
                    <th>Bills</th>
                </tr>
            </thead>
            <tbody>
                {% for advance_application in advance_applications %}
                
                <tr>
                    <td>{{advance_application.applied_date|date:'d M Y'}}</td>
                    <td>{{advance_application.amount}}</td>
                    <td><a href="#his{{advance_application.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up" ></i></a></td>
                    {% if advance_application.approved %}
                    <td><span class="label label-success">Approved</span></td>
                    <td>{{advance_application.approved_date|date:'d M Y'}}</td>
                    {% else %}
                    {% if advance_application.disapproved %}
                    <td><span class="label label-important">Disapproved</span></td>
                    <td>None</td>
                    {% else %}
                    <td><span class="label label-warning">Awaiting</span></td>
                    <td>None</td>
                    {% endif %}
                    {% endif %}

                    {% if advance_application.received %}
                    <td><span class="label label-success">Received</span></td>
                    <td>{{advance_application.receive_date|date:'d M Y'}}</td>
                    <td>{{advance_application.due_date|date:'d M Y'}}</td>
                    {% else %}
                    <td><span class="label label-important">Not received</span></td>
                    <td>None</td>
                    <td>None</td>
                    {% endif %}
                    <td>{{advance_application.core_comment}}</td>
                    {% if advance_application.approved and advance_application.received %}
                    {% if not advance_application.bill_submitted %}
                    <td><a href="{% url finance.views.advance_bill advance_id=advance_application.id %}">Add bills</a></td>
                    {% else %}
                    <td><a href="{% url finance.views.advance_bill_view advance_id=advance_application.id %}">View bills</a></td>
                    {% endif %}
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <!-- Modal -->
{% for advance_application in advance_applications %}
<div id="his{{advance_application.id}}" class="modal hide " tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Advance</h3>
  </div>
  <div class="modal-body">
  <h4>Split Up</h4>
    {{advance_application.split_up|linebreaks}}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 
  </div>
</div>
{% endfor %}

            <!-- end for the user -->
        </div><!-- end of history -->
    </div>
</div><!-- end of tabbable-->
{% endif %}



{% if userprofile.is_core %}

<style>
textarea{
height:27px;
margin-bottom:1px;    
        }
</style>
<br>
{% if advance_request_form_success %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success</strong> Project detail has been successfully updated
</div>
{% endif %}

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#request_core" data-toggle="tab">Advance Requests</a></li>
    </ul>

    </br>
    <div class="tab-content">
        <div class="tab-pane active" id="request_core">
            <form method='POST' action=''>
                {% csrf_token %}
                {{advance_core_formset.management_form}}


                <!--<h3 class='alert alert-info'><strong>{{app.project.name}}</strong></h3>-->
                <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Applied Date</th>
                        <th>Amount</th>
                        <th>Split Up</th>
                        <th>Approve</th>
                        <th>Disapprove</th>
                        <th><i class="icon-comment" > </i> Comments</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for app in pending_advance_app %}
                    <tr>
                        <td>{{app.project.name}}</td>
                        {% for form in advance_core_formset %}
                        {% ifequal form.instance.id app.id %}
                        <td>{{app.applied_date|date:'d M Y'}}</td>
                        <td>{{app.amount}}</td>
                        <td><a href="#paa{{app.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up" ></i></a></td>
                        {% for field in form %}
                        <td>{{field}}</td>
                        {% endfor %}
                        {% endifequal %}
                        {% endfor %}
                        <td><input class="btn btn-info" type='submit' value='Save' /></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                
            </form>
                      
<!-- Modal -->
{% for advance_application in pending_advance_app %}
<div id="paa{{advance_application.id}}" class="modal hide " tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Advance</h3>
  </div>
  <div class="modal-body">
  <table class=" table table-bordered">
  <tr>
  <th>Project Name</th>
  <th>Applied Date</th>
  <th>Amount</th>
  </tr>
  <tr>
  <td>{{advance_application.project.name}}</td>
  <td>{{advance_application.applied_date|date:'d M Y'}}</td>
  <td>{{advance_application.amount}}</td>
  </table>
  <h4>Split Up</h4>
    {{advance_application.split_up|linebreaks}}
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 
  </div>
</div>
{% endfor %}

            
        </div><!--request-->
    </div><!-- tabcontent-->
</div><!-- tabbable-->
{% endif %} <!-- end of the core -->

{% endblock %}
