{% extends "base.html" %}
{% block body %}
<div class="pull-right">
<a href="/advance/"><button class="btn">Back</button></a>
</div>
<h3>{{advance_application.project.name}}</h3>

<table border='1'>
<tr>

<th>Applied Date</th>
<th>Amount</th>
<th>split_up</th>
<th>Approve Status</th>
<th>Approved_date</th>
<th>Recieved Status</th>
<th>Received Date</th>
<th>Due Date</th>
<th>core comments</th>
<th>Bills submitted?</th>
</tr>

<tr>
<td>{{advance_application.applied_date}}</td>
<td>{{advance_application.amount}}</td>
<td>{{advance_application.split_up}}</td>
{% if advance_application.approved %}
<td>Approved</td>
<td>{{advance_application.approved_date}}</td>
{% else %}
{% if advance_application.disapproved %}
<td>Disapproved</td>
<td></td>
{% else %}
<td>Awaiting</td>
<td></td>
{% endif %}
{% endif %}

{% if advance_application.received %}
<td>Received</td>
<td>{{advance_application.receive_date}}</td>
<td>{{advance_application.due_date}}</td>
{% else %}
<td>Not received</td>
<td></td>
<td></td>
{% endif %}
<td>{{advance_application.core_comment}}</td>
<td>{{advance_application.bill_submitted}}</td> 
</tr> 
   
</table>
</br>
<table border='1'>
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Purchase Details</th>
<th>Amount</th>
<th>Dated</th>
<th>Submitted?</th>
</tr>
{% for bill in qset %}
<tr>
<td>{{bill.shop_name}}</td>
<td>{{bill.bill_number}}</td>
<td>{{bill.purchase_detail}}</td>
<td>{{bill.amount}}</td>
<td>{{bill.dated}}</td>
<td>{{bill.core_submitted}}</td>
</tr>
{% endfor %}

</table>

{% endblock %}
