{% extends "base.html" %}
{% block body %}
</br>
<style>
    
    input{
      width:100px;
    }
    textarea{
        height:35px;
        margin-bottom:1px;    
        width:auto;
        margin-right:0px;
        }
        
        .layoutfixed table{
            table-layout:fixed;
            
        }
        
        .well1{
            background-color:#f5f5e7;
        }
</style>
{% if reimbform_error %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error Sending Request!</strong> Invalid Input
</div>
{% endif %}

{% if form1_success %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success</strong> Your Reimbursement Request has been successfully sent.
</div>
{% endif %}

{% if not userprofile.is_core %}
<script>
var total=0;
</script>
</br>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#request" data-toggle="tab">Request</a></li>
        <li><a href="#not_yet_received" data-toggle="tab">Not Yet Received</a></li>
        <li><a href="#received" data-toggle="tab">Received</a></li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="request">
        <div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Note:</strong> In order to enable the option to add Purchase Details, first add the Bill details and then Click 'Save' 
</div>

               <form method='POST' action='/portal/finance/reimb/request/{{current_reimb.id}}/'>
                {% csrf_token %}
                   {{reimbform}}
                {{billformset.management_form}}

                <table class="table table-bordered table-condensed">
                    <tr>
                        <th>Shop Name</th>
                        <th>Bill Number</th>
                      
                        <th>Amount<h6>Total: {{current_reimb_total}}</h6></th>
                        <th>Dated</th>
                        <th>Date<h6>(yyyy-mm-dd)</h6></th>
                       <th></th>
                        <th>Delete</th>
                        <th>Purchase Details</th>
                       
                    </tr>
                    {% for bill in billformset %}
                   
                    <tr>
                        {% for field in bill %}
                        
                        {% ifequal field.label text_js %}
                        <td><div class='reimb_amount'>{{field}}</div></td>                        
                        {% else %}
                        <td>{{field}}</td>
                        {% endifequal %}
                        {% endfor %}
                        {% if bill.instance.id %}
                         <td><input class="btn " name="{{bill.instance.id}}" type="submit" value="&#9755"/></td>
                        {% else %}
                         <td></td>
                        {% endif %}
                    </tr>
                   

                    {% endfor %}

                </table>
       </br>
         
<!--
                <div id="extra" class="collapse out">
                    <table class="table table-bordered">
                        <tr>
                        <th>Shop Name</th>
                        <th>Bill Number</th>
                        <th>Amount</th>
                        <th>Dated</th>
                        <th>Date</th>
                        <th></th>
                        <th>Delete</th>
                        <th>Purchase Details</th>
                       
                    </tr>
                        {% for bill in billformset %}
                        {% if forloop.counter > 5 %}
                        <tr>
                            {% for field in bill %}
                            <td>{{field}}</td>
                            {% endfor %}
                          {% if bill.instance.id %}
                         <td><input name="{{bill.instance.id}}" type="submit"  value="click"/></td>
                        {% else %}
                         <td></td>
                        {% endif %}
                        </tr>
                        {% endif %}

                        {% endfor %}
                    </table>
                    <tr></tr>
                </table>
            </div>
            
            -->
            <div class="pull-left">
            <input type="submit" class="btn" name="add_more" value="Add more bills"/>
            </div>
            <div class="pull-right">
            <input type='submit' class="btn btn-info " value="Save" />
            </div>
            </br>
            </br>
            <center>    <input type='submit' name="send_request" class="btn btn-primary " value="Send Request" />
            </center>
        </form>
    </div><!-- request-->

    <div class="tab-pane layoutfixed" id="not_yet_received">
        {% if reimbset_not_received %}
        <table class="table table-bordered">
            <tr>
                <th>Applied Date</th>
                <th>Amount</th>
                
                <th>Received Date</th>
                <th>Bill Details</th>
            </tr>
        </table>
            <div class="accordion">
            {% for reimb in reimbset_not_received %}
        
            <div class="accordion-group">
        <table class="table table-bordered">
            <div class="accordion-heading">
            <tr>
                <td >{{reimb.applied_date|date:'d M Y'}}</td>
                <td>{{reimb.amount}}</td>
                
                
                <td>{{reimb.received_date|date:'d M Y'}}</td>
                <td><a class="accordion-toggle" data-toggle="collapse" href="#{{reimb.id}}"><span style="font-size:27px;">&darr;</span></a></td>
            </tr>
            </div>
            </table>
            <div id="{{reimb.id}}" class="accordion-body collapse out">
            <div class="accordion-inner well1">
            <table class="table table-bordered">
            <tr><td>Bill Details</td></tr>
            <tr>

                <th>Shop Name</th>
                <th>Bill Number</th>
                <th>Purchase Details</th>
                <th>Amount</th>
                <th>Dated?</th>
                <th>Date</th>

            </tr>
            {% for bill in qset_display %}
            {% ifequal bill.reimb reimb %}
            <tr>
                <td>{{bill.shop_name}}</td>
                <td>{{bill.bill_number}}</td>
                <td><a href="#bill{{bill.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up " ></i></a></td>
                <td>{{bill.amount}}</td>
                {% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
                <td>{{bill.date|date:'d M Y'}}</td>
            </tr>

            {% endifequal %}
            {% endfor%}
            </table>
            </div>
            </div><!-- bill_detail body-->
           </div><!-- accordian group-->
        
            {% endfor %}
            </div>
        
        {%else%}
        <h3> No requests! </h3>
        {% endif %}

{% for bill in qset_display %}
<!-- Modal -->
<div id="bill{{bill.id}}" class="modal hide " tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Bill Detail</h3>
  </div>
  <div class="modal-body">
  <table class="table table-bordered">
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Amount</th>
<th>Dated?</th>
<th>Date</th>
{% if userprofile.is_core %}
<th>Submitted?</th>
{% endif %}
</tr>
<tr>
<td>{{bill.shop_name}}</td>
<td>{{bill.bill_number}}</td>
<td>{{bill.amount}}</td>
{% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
<td>{{bill.date|date:'d M Y'}}</td>
{% if userprofile.is_core %}
<td>{{bill.core_submitted}}</td>
{% endif %}
</tr>
</table>

    <h4>Purchase Details</h4>
        <table class="table table-bordered">
        <tr>
        <th>Item Name</th>
        <th>Amount</th>
        </tr>
    {% for purchase_detail in purchase_details %}
    {% ifequal purchase_detail.bill bill %}
        
        <tr>
        <td>{{purchase_detail.item_name}}</td>
        <td>{{purchase_detail.amount}}</td>
        </tr>
        
    {% endifequal %}
    {% endfor %}
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endfor %}

    </div><!-- not yet received-->

    <div class="tab-pane layoutfixed" id="received">
        {% if reimbset_received %}
        <table class="table table-bordered">
            <tr>
                <th>Applied Date</th>
                <th>Amount</th>
       
                <th>Received Date</th>
                <th>Bill Details</th>
            </tr>
        </table>
        <div class="accordion">
        <div class="accordion-group">
       
            {% for reimb in reimbset_received %}
            <table class="table table-bordered">
            <div class="accordion-heading ">
            <tr>
                <td>{{reimb.applied_date|date:'d M Y'}}</td>
                <td>{{reimb.amount}}</td>
                
                
                <td>{{reimb.received_date|date:'d M Y'}}</td>
                
              <td><a class="accordion-toggle" data-toggle="collapse" href="#rec_{{reimb.id}}"> <span style="font-size:27px;">&darr;</span></a></td>
            </tr>
            </div>
            </table>
        <div class="accordion-body collapse out" id="rec_{{reimb.id}}">
        <div class="accordion-inner well1" >
            <table class="table table-bordered table-condensed">
        
            <tr><td>Bill Details</td></tr>
            <tr>

                <th>Shop Name</th>
                <th>Bill Number</th>
                <th>Purchase Details</th>
                <th>Amount</th>
                <th>Dated?</th>
                <th>Date</th>

            </tr>
            {% for bill in qset_display %}
            {% ifequal bill.reimb reimb %}
            <tr>
                <td>{{bill.shop_name}}</td>
                <td>{{bill.bill_number}}</td>
            <td><a href="#rec{{bill.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up" ></i></a></td>
                <td>{{bill.amount}}</td>
                {% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
                <td>{{bill.date|date:'d M Y'}}</td>
            </tr>

            {% endifequal %}
            {% endfor%}
            </table>
            </div>
            </div>
            {% endfor %}
            </div><!-- accordion group-->
        </div><!-- accordion-->
        {% else %}
        <h3> No requests! </h3>
        {% endif %}
        {% for bill in qset_display %}
<!-- Modal -->
<div id="rec{{bill.id}}" class="modal hide " tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Bill Detail</h3>
  </div>
  <div class="modal-body">
  <table class="table table-bordered">
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Amount</th>
<th>Dated?</th>
<th>Date</th>
{% if userprofile.is_core %}
<th>Submitted?</th>
{% endif %}
</tr>
<tr>
<td>{{bill.shop_name}}</td>
<td>{{bill.bill_number}}</td>
<td>{{bill.amount}}</td>
{% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
<td>{{bill.date|date:'d M Y'}}</td>
{% if userprofile.is_core %}
<td>{{bill.core_submitted}}</td>
{% endif %}
</tr>
</table>

    <h4>Purchase Details</h4>
        <table class="table table-bordered">
        <tr>
        <th>Item Name</th>
        <th>Amount</th>
        </tr>
    {% for purchase_detail in purchase_details %}
    {% ifequal purchase_detail.bill bill %}
        
        <tr>
        <td>{{purchase_detail.item_name}}</td>
        <td>{{purchase_detail.amount}}</td>
        </tr>
        
    {% endifequal %}
    {% endfor %}
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endfor %}


        
        
    </div><!-- received-->
</div><!-- content -->
</div><!-- tabbable-->



<!--

<script type="text/javascript">
var elems = document.getElementsByClassName('reimb_amount');

var myLength = elems.length,
total = 0;
var Display = document.getElementById("Display");
    Display.innerHTML = elems[1].value;
for (var i = 0; i < myLength - 1 ; ++i) {
  total += parseInt(elems[i].value);
}

document.getElementById('reimb_total').value = total;

</script>
-->

{% endif %}<!-- end of user -->


{% if userprofile.is_core %}
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#not_yet_submitted" data-toggle="tab">Not Yet Submitted</a></li>
        <li><a href="#submitted_not_received" data-toggle="tab">Submitted, Not Received</a></li>
        <li><a href="#submitted_received" data-toggle="tab">Submitted, Received</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="not_yet_submitted">
            <form method='POST' action=''>
                {% csrf_token %}
                {{reimbformset1.management_form}}
                {% if qsetreimb_not_yet_submitted %}
                <div class="accordion layoutfixed">
                <table class="table table-bordered ">

                    <tr>
                        <th>Project</th>
                        <th>Applied Date</th>
                        <th>Amount</th>
                        <th>Received Status</th>
                        <th>Received Date<h6>(yyyy-mm-dd)</h6></th>
                        <th>Submitted?</th>
                  
                        <th>Bill Details</th>
                    </tr>
                </table>
                
                <div class="accordion-group">
                    {% for reimb in qsetreimb_not_yet_submitted %}
                <table class="table table-bordered table-condensed">
                <div class="accordion-heading">
                     <tr>
                        <td>{{reimb.project.name}}</td>
                        <td>{{reimb.applied_date|date:'d M Y'}}</td>
                        <td>{{reimb.amount}}</td>
                        {% for form in reimbformset1 %}
                        {% ifequal form.instance.id reimb.id %}
                        {% for field in form %}
                        {% if not forloop.last %}
                        <td>{{field}}</td>
                        {% else %}
                        {{field}}
                        {% endif %}
                        
                        {% endfor %}
                        {% endifequal %}
                        {% endfor %}
                       <td><a data-toggle="collapse" class="accordion-toggle" href="#corenys{{reimb.id}}"><span style="font-size:27px">&darr;</span></a></td> 
                   
                    </tr>
                    </div><!-- heading-->
                 </table>
                 <div class="accordion-body collapse out" id="corenys{{reimb.id}}">
                 <div class="accordion-inner well1">
                 <table class="table table-bordered">

                    <tr><td>Bill Details</td></tr>
                    <tr>
                        <th>Shop Name</th>
                        <th>Bill Number</th>
                        <th>Purchase Details</th>
                        <th>Amount</th>
                        <th>Dated?</th>
                        <th>Date</th>

                    </tr>
                    {% for bill in qset %}
                    {% ifequal bill.reimb reimb %}
                    <tr>
                        <td>{{bill.shop_name}}</td>
                        <td>{{bill.bill_number}}</td>
                        <td><a href="#nys{{bill.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up " ></i></a></td>
                        <td>{{bill.amount}}</td>
                       {% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
                        <td>{{bill.date|date:'d M Y'}}</td>
                    </tr>

                    {% endifequal %}
                    {% endfor%}
                   </table>
                   </div>
                   </div><!--body -->
                    {% endfor %}
                    </div><!-- accordion group-->
                    </div><!-- accordion-->
         <center>     <input type='submit' class="btn btn-info" value='Update' name="one" /> </center>
            </form>
            {% else %}
            <h3>Nothing to show here.</h3>
            {% endif %}
            
           
 {% for bill in qset %}
<!-- Modal -->
<div id="nys{{bill.id}}" class="modal hide " tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Bill Detail</h3>
  </div>
  <div class="modal-body">
  <table class="table table-bordered">
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Amount</th>
<th>Dated?</th>
<th>Date</th>
{% if userprofile.is_core %}
<th>Submitted?</th>
{% endif %}
</tr>
<tr>
<td>{{bill.shop_name}}</td>
<td>{{bill.bill_number}}</td>
<td>{{bill.amount}}</td>
{% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
<td>{{bill.date|date:'d M Y'}}</td>
{% if userprofile.is_core %}
<td>{{bill.core_submitted}}</td>
{% endif %}
</tr>
</table>

    <h4>Purchase Details</h4>
        <table class="table table-bordered">
        <tr>
        <th>Item Name</th>
        <th>Amount</th>
        </tr>
    {% for purchase_detail in purchase_details %}
    {% ifequal purchase_detail.bill bill %}
        
        <tr>
        <td>{{purchase_detail.item_name}}</td>
        <td>{{purchase_detail.amount}}</td>
        </tr>
        
    {% endifequal %}
    {% endfor %}
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endfor %} 
           
        </div><!-- not_yet_submitted-->

        <div class="tab-pane" id="submitted_not_received">
            <form method='POST' action=''>
                {% csrf_token %}

                {{reimbformset2.management_form}}
                <div class="accordion layoutfixed">
                
                <table class="table table-bordered">
                    <tr>
                        <th>Project</th>
                        <th>Applied Date</th>
                        <th>Amount</th>
                        <th>Received Status</th>
                        <th>Received Date<h6>(yyyy-mm-dd)</h6></th>
                        <th>Submitted?</th>
                        <th>Bill Details</th>
                    </tr>
                </table>
                <div class="accordion-group">
                {% for reimb in qsetreimb_submitted_not_received %}
                  <table class="table table-bordered table-condensed">
                  <div class="accordion-heading">
                    <tr>
                        <td>{{reimb.project.name}}</td>
                        <td>{{reimb.applied_date|date:'d M Y'}}</td>
                        <td>{{reimb.amount}}</td>

                        {% for form in reimbformset2 %}
                        {% ifequal form.instance.id reimb.id %}
                        {% for field in form %}
                        {% if not forloop.last %}
                        <td>{{field}}</td>
                        {% else %}
                        {{field}}
                        {% endif %}
                        {% endfor %}
                        {% endifequal %}
                        {% endfor %}
                         <td><a data-toggle="collapse" class="accordion-toggle" href="#coresnr{{reimb.id}}"><span style="font-size:27px">&darr;</span></a></td> 
                    </tr>
                </div>
                </table>
                
                <div class="accordion-body collapse out" id="coresnr{{reimb.id}}">
                 <div class="accordion-inner well1">
                 
                <table class="table table-bordered">
                    
                    <tr><td>Bill Details</td></tr>
                    <tr>

                        <th>Shop Name</th>
                        <th>Bill Number</th>
                        <th>Purchase Details</th>
                        <th>Amount</th>
                        <th>Dated?</th>
                        <th>Date</th>

                    </tr>
                    {% for bill in qset %}
                    {% ifequal bill.reimb reimb %}
                    <tr>
                        <td>{{bill.shop_name}}</td>
                        <td>{{bill.bill_number}}</td>
                        <td><a href="#snr{{bill.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up " ></i></a></td>
                        <td>{{bill.amount}}</td>
                        {% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
                        <td>{{bill.date|date:'d M Y'}}</td>
                    </tr>

                    {% endifequal %}
                    {% endfor%}
                </table>
                </div>
                </div>
                    {% endfor %}
                
                </div><!-- accordion-group-->
                </div><!-- accordion -->
<center>                <input type='submit' class="btn btn-info" value='Update' name="two" /></center>
            </form>
            
                      
 {% for bill in qset %}
<!-- Modal -->
<div id="snr{{bill.id}}" class="modal hide " tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Bill Detail</h3>
  </div>
  <div class="modal-body">
  <table class="table table-bordered">
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Amount</th>
<th>Dated?</th>
<th>Date</th>
{% if userprofile.is_core %}
<th>Submitted?</th>
{% endif %}
</tr>
<tr>
<td>{{bill.shop_name}}</td>
<td>{{bill.bill_number}}</td>
<td>{{bill.amount}}</td>
{% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
<td>{{bill.date|date:'d M Y'}}</td>
{% if userprofile.is_core %}
<td>{{bill.core_submitted}}</td>
{% endif %}
</tr>
</table>

    <h4>Purchase Details</h4>
        <table class="table table-bordered">
        <tr>
        <th>Item Name</th>
        <th>Amount</th>
        </tr>
    {% for purchase_detail in purchase_details %}
    {% ifequal purchase_detail.bill bill %}
        
        <tr>
        <td>{{purchase_detail.item_name}}</td>
        <td>{{purchase_detail.amount}}</td>
        </tr>
        
    {% endifequal %}
    {% endfor %}
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endfor %} 
 
            

        </div>
        
        
        <div class="tab-pane" id="submitted_received">
            <form method='POST' action=''>
                {% csrf_token %}
                {{reimbformset3.management_form}}
                 <div class="accordion layoutfixed">
               <table class="table table-bordered">
                    <tr>
                        <th>Project</th>
                        <th>Applied Date</th>
                        <th>Amount</th>
                        <th>Received Status</th>
                        <th>Received Date<h6>(yyyy-mm-dd)</h6></th>
                        <th>Submitted?</th>
                        <th>Bill details</th>
                    </tr>
                    </table>
                 <div class="accordion-group">
                   {% for reimb in qsetreimb_submitted_received %}
                     <table class="table table-bordered table-condensed">
                     <div class="accordion-heading">
                     <tr>
                        <td>{{reimb.project.name}}</td>
                        <td>{{reimb.applied_date|date:'d M Y'}}</td>
                        <td>{{reimb.amount}}</td>

                        {% for form in reimbformset3 %}
                        {% ifequal form.instance.id reimb.id %}
                        {% for field in form %}
                        {% if not forloop.last %}
                        <td>{{field}}</td>
                        {% else %}
                        {{field}}
                        {% endif %}
                        {% endfor %}
                        {% endifequal %}
                        {% endfor %}
                        
                        <td><a data-toggle="collapse" class="accordion-toggle" href="#coresr{{reimb.id}}"><span style="font-size:27px">&darr;</span></a></td> 
                      </tr>
                      </div>
                      </table>
                      <div class="accordion-body collapse out" id="coresr{{reimb.id}}">
                 <div class="accordion-inner well1">
                 
                <table class='table table-bordered'>
                     <tr><td>Bill Details</td></tr>
                    <tr>

                        <th>Shop Name</th>
                        <th>Bill Number</th>
                        <th>Purchase Details</th>
                        <th>Amount</th>
                        <th>Dated?</th>
                        <th>Date</th>

                    </tr>
                    {% for bill in qset %}
                    {% ifequal bill.reimb reimb %}
                    <tr>
                        <td>{{bill.shop_name}}</td>
                        <td>{{bill.bill_number}}</td>
                       <td><a href="#sr{{bill.id}}" role="button" class="btn" data-toggle="modal"><i class="icon-hand-up " ></i></a></td>
                        <td>{{bill.amount}}</td>
                        {% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
                        <td>{{bill.date|date:'d M Y'}}</td>
                    </tr>

                    {% endifequal %}
                    {% endfor%}
                    </table>
                    </div>
                    </div>
                    {% endfor %}
                </div><!--group -->
                </div><!-- accordion -->
<center>                <input type='submit' class="btn btn-info " value='Update' name="three" /></center>
            </form>

          
 {% for bill in qset %}
<!-- Modal -->
<div id="sr{{bill.id}}" class="modal hide " tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Bill Detail</h3>
  </div>
  <div class="modal-body">
  <table class="table table-bordered">
<tr>
<th>Shop Name</th>
<th>Bill Number</th>
<th>Amount</th>
<th>Dated?</th>
<th>Date</th>
{% if userprofile.is_core %}
<th>Submitted?</th>
{% endif %}
</tr>
<tr>
<td>{{bill.shop_name}}</td>
<td>{{bill.bill_number}}</td>
<td>{{bill.amount}}</td>
{% if bill.dated %}
<td><span class="badge badge-success">&#10004</span></td>
{% else %}
<td><span class="badge badge-important">&#10008</span></td>
{% endif %}
<td>{{bill.date|date:'d M Y'}}</td>
{% if userprofile.is_core %}
<td>{{bill.core_submitted}}</td>
{% endif %}
</tr>
</table>

    <h4>Purchase Details</h4>
        <table class="table table-bordered">
        <tr>
        <th>Item Name</th>
        <th>Amount</th>
        </tr>
    {% for purchase_detail in purchase_details %}
    {% ifequal purchase_detail.bill bill %}
        
        <tr>
        <td>{{purchase_detail.item_name}}</td>
        <td>{{purchase_detail.amount}}</td>
        </tr>
        
    {% endifequal %}
    {% endfor %}
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endfor %} 
 


        </div>
        <!--
        <h3>Submitted</h3>
        <form method='POST' action=''>
            {% csrf_token %}
            {{reimbformsetsubmitted.management_form}}

            <table class='table table-bordered'>
                <tr>
                    <th>Applied Date</th>
                    <th>Amount</th>

                    <th>Received Status</th>
                    <th>Received Date</th>
                    <th>Submitted?</th>
                </tr>
                {% for reimb in reimb_submitted %}
                <tr>
                    <td>{{reimb.applied_date}}</td>
                    <td>{{reimb.amount}}</td>

                    {% for form in reimbformsetsubmitted %}
                    {% ifequal form.instance.id reimb.id %}
                    {% for field in form %}
                    <td>{{field}}</td>
                    {% endfor %}
                    {% endifequal %}
                    {% endfor %}
                    <td><input type='submit' value='Update' /></td>
                </tr>
                <tr><td>Bill Details</td></tr>
                <tr>

                    <th>Shop Name</th>
                    <th>Bill Number</th>
                    <th>Purchase Details</th>
                    <th>Amount</th>
                    <th>Dated?</th>

                </tr>
                {% for bill in qset %}
                {% ifequal bill.reimb reimb %}
                <tr>
                    <td>{{bill.shop_name}}</td>
                    <td>{{bill.bill_number}}</td>
                    <td>{{bill.purchase_detail}}</td>
                    <td>{{bill.amount}}</td>
                    <td>{{bill.dated}}</td>
                </tr>

                {% endifequal %}
                {% endfor%}
                <tr></tr>
                <tr></tr>
                {% endfor %}
            </table>
        </form>
        -->
    </div><!-- content -->
</div><!-- tabbable -->
{% endif %}
{% endblock %}
