<!DOCTYPE html>
<html lang="en">
<head>
<title>Center for Innovation | Finance portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ MEDIA_URL }}css/bootstrap-responsive.css" rel="stylesheet">
<link href="{{ MEDIA_URL }}css/chosen.css" rel="stylesheet">
<!--<link rel='icon' type='image/png' href="{{ MEDIA_URL }}images/favicon.ico">-->
<link rel='icon' type='image/png' href="{{ MEDIA_URL }}images/cfi_logo.png">

<style type="text/css">
body{
font-size:15px;
margin-right:4%;
margin-left:4%;
}

</style>
</head>
<body>

<div class="container-fluid">
<br>
<div class="row-fluid">
    <!--<div class="span2 ">
    {% block left_bar %}
    {% include "left_bar.html"%}
    {% endblock %}
    </div>-->
<!--    <div class="span1">
    </div>-->
    <div class="span12">
    {% block top_bar %}
    {% include "top_bar.html" %}
    {% endblock %}
<div>
{% if not userprofile.is_core %}
<h3><i class="icon-user" > </i> {{userprofile.project.name}} </h3>
{% endif %}
</div>

        {% block body %}

        {% endblock %}
    </div>
</div>
</div>

{% block javascript %}
        <script src="{{ MEDIA_URL }}js/jquery.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-modal.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap-dropdown.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
        <script src="{{ MEDIA_URL }}js/jquery.dajax.core.js"></script>
        <script src="{{ MEDIA_URL }}js/chosen.jquery.js"></script>
        
        <script src="{{MEDIA_URL}}js/jquery.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-transition.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-alert.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-modal.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-dropdown.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-scrollspy.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-tab.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-tooltip.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-popover.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-button.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-collapse.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-carousel.js"></script>
        <script src="{{MEDIA_URL}}js/bootstrap-typeahead.js"></script>
{% endblock %}
</body>
</html>
