{% extends "base.html" %}
{% block top_bar %}
{% endblock %}
{% block left_bar %}
{% endblock %}
{% block not_login %}
{% endblock %}
{% block body %}

<style>
body{
background-image:url("{{MEDIA_URL}}/images/rupee.jpg");
padding-left:0;
background-size:cover;

background-repeat:no-repeat;
margin:0;
}

</style>


<center>
<div class="span4">
<img src="{{MEDIA_URL}}/images/cfi_logo.png" />
</br>
<h3>Finance Portal</h3>
</br>
<form action='' method='POST' >
{% csrf_token %}
<div >
<table>
{{loginform.as_table}}
</table>
<input type="submit" class="btn btn-inverse" value="Login" />
</div>
</form>
</div>
</center>
{% endblock %}
